%li{:id=>"item-#{item.id}"}
  %div{:class=>"menu-tree-content"}
    %span
      %input{:type=>"text",:value=>item.name,:name=>"name",:"data-id"=>item.id,:"data-url"=>menu_item_path(item.id)}
    %span
      %input{:"data-autocomplete" => autocomplete_menu_item_url_menu_items_path, :"data-delimiter" => " ",
             :id => "menu_item_#{item.id}_url", :name => "url",
             :class=>"url-input ui-autocomplete-input", :autocomplete=>"off", :role=>"textbox", :"aria-autocomplete"=>"list",
             :"aria-haspopup"=>"true", :type => "text", :value => item.url,
             :"data-id"=>item.id,:"data-url"=>menu_item_path(item.id),
            }
    %span
      = image_tag("lolita/menu/move.png",:style=>"cursor:move;")
    %span
      = image_tag("lolita/menu/delete.png", :"data-url" => menu_item_path(item.id), :class => "delete-menu-item", :"data-row" => "#item-#{item.id}", :"data-menu" => "#menu_tree_#{menu.id}")
  %ol
    = render_component "lolita/menu_items", "subtree", :item => item, :menu => menu