- content_for :script do
  = javascript_include_tag "lolita/menu/application.js"
- content_for :style do
  = stylesheet_link_tag "lolita/menu/style.css"
.box
  = render_component list, :title
  = render_component list, :new_resource
  .list
    %table
      = render_component "lolita/menu",:columns,:page=>page,:columns=>list.columns
    = render_component list, :paginator, :page=>page